@import "vars";
@import "mixins";

html {
    scroll-behavior: smooth;
}

body {
    background-color: $wash;
    color: $salute;

    font-family: 'Noto Sans', serif;
    font-weight: 400;
    font-size: 20px;
    
    min-width: 320px;
}

@import 'fonts';
@import 'global';

@import "./limbs/header.scss";
@import "./limbs/footer.scss";

@import "./blocks/about-preview.scss";
@import "./blocks/work-scheme.scss";
@import "./blocks/services.scss";
@import "./blocks/trade-marks.scss";