@import "vars";
@import "mixins";

html { scroll-behavior: smooth }

body {
    background-color: $wash;
    color: $salute;

    font-family: 'BebasNeue', serif;
    font-weight: 400;
    font-size: 20px;
    
    min-width: 320px;
    overflow: auto;

    background-color: #F0F2F5;

    &.--not-found {
        height: calc(100vh - 94px);

        .page {
            display: flex;
            flex-direction: column;
            min-height: 100%;
            
            overflow: auto;
        }

        .footer {
            margin-top: auto;
        }
    }

    &.--header-bb {
        .header__nav { border-bottom: 1px solid #EBEBF0 }
    }
}

.page, .header, .modal {
    font-family: 'Noto Sans', serif;
}

.m-hidden {
    overflow: hidden;
}

.m-open {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100vh;

    @media (max-width: 1300px) { 
        overflow: hidden;
        position: fixed;

        .header {
            height: 100vh;
            width: 100%;
            position: fixed;
            z-index: 50;
            top: 0;

            .menu { display: block }
            &--light { background-color: white }

            .burger {
                span::after, span::before { background-color: $salute }
                @media (max-width: 500px) {padding: 24px 40px }
            }
            .header__nav-logo {
                border-left: 1px solid #EBEBF0;
                & img { display: none }
                & img:last-child { display: block }
            }
            .header__nav {
                border-bottom: 1px solid #EBEBF0;
                @media (max-width: 500px) { height: 48px }
            }
        }
    }
}

@import 'fonts';
@import 'global';

@import "./limbs/header.scss";
@import "./limbs/footer.scss";

@import "./blocks/about-preview.scss";
@import "./blocks/work-scheme.scss";
@import "./blocks/services.scss";
@import "./blocks/trade-marks.scss";
@import "./blocks/client-relationship.scss";
@import "./blocks/scopes.scss";
@import "./blocks/experts.scss";
@import "./blocks/arrows.scss";
@import "./blocks/contact-form.scss";
@import "./blocks/burger.scss";
@import "./blocks/the-title.scss";
@import "./blocks/breadcrumbs.scss";
@import "./blocks/specialization.scss";
@import "./blocks/benefits.scss";
@import "./blocks/our-production.scss";
@import "./blocks/type-chemicals.scss";
@import "./blocks/mobile-menu.scss";
@import "./blocks/catalog.scss";
@import "./blocks/modal.scss";
@import "./blocks/blog.scss";
@import "./blocks/policy.scss";
@import "./blocks/article.scss";
@import "./blocks/not-found.scss";
@import "./blocks/contacts.scss";
@import "./blocks/thanks.scss";
@import "./blocks/pagination.scss";
@import "./blocks/products-catalog.scss";
@import "./blocks/catalog-card.scss";