@import "vars";
@import "mixins";

html {
    scroll-behavior: smooth;
}

body {
    background-color: $wash;
    color: $salute;

    font-family: 'Noto Sans', serif;
    font-weight: 400;
    font-size: 20px;
    
    min-width: 320px;
}

.m-open {
    overflow: hidden;
    position: fixed;

    @media (max-width: 1300px) { 
        overflow: hidden;
        position: fixed;

        .header {
            height: 100vh;
            min-height: 100%;
            width: 100%;
            position: fixed;
            z-index: 50;
            top: 0;

            .menu { display: block }
        }
    }
}

@import 'fonts';
@import 'global';

@import "./limbs/header.scss";
@import "./limbs/footer.scss";

@import "./blocks/about-preview.scss";
@import "./blocks/work-scheme.scss";
@import "./blocks/services.scss";
@import "./blocks/trade-marks.scss";
@import "./blocks/client-relationship.scss";
@import "./blocks/scopes.scss";
@import "./blocks/experts.scss";
@import "./blocks/arrows.scss";
@import "./blocks/contact-form.scss";
@import "./blocks/burger.scss";
@import "./blocks/the-title.scss";
@import "./blocks/breadcrumbs.scss";
@import "./blocks/specialization.scss";
@import "./blocks/benefits.scss";
@import "./blocks/our-production.scss";
@import "./blocks/type-chemicals.scss";