<div class="modal modal--thanks g-title">
    <div class="modal__container">
        <button class="modal-close"><svg><use xlink:href="./assets/images/svg/sprite.svg#closeModalIcon"></use></svg></button>
        <img src="./assets/images/svg/thanks_ill.svg" alt="thanks__ill">
        <h2>Спасибо за заявку!</h2>
        <p>Наш менеджер свяжется с Вами в ближайшее время ответит на все интересующие вопросы и поможем даже в самых сложных случаях!</p>
        <a href="#page" class="modal__btn g-blue-btn" type="button" id="modalThanksReturn">Вернуться на главную</a>
    </div>
</div>