<div class="modal modal--form g-title">
    <div class="modal__container">
        <button class="modal-close"><svg><use xlink:href="./assets/images/svg/sprite.svg#closeModalIcon"></use></svg></button>
        <h2>Есть вопросы?</h2>
        <p>Оставьте заявку, наш менеджер свяжется с Вами в ближайшее время ответит на все интересующие вопросы и поможем даже в самых сложных случаях!</p>
        <section class="contact-form contact-form--modal">
            <div class="contact-form__container">
                <form id="contactForm" class="contact-form__wrapper-form" action="/">
                    <header>
                        <div class="g-input">
                            <input autocomplete="off" type="text" id="name" data-validate-field="name" required>
                            <label for="name">Имя</label>
                        </div>
                        <div class="g-input">
                            <input autocomplete="off" type="tel" data-validate-field="tel" placeholder="+_ (___) __-__-___" required>
                            <label for="name">Номер телефона</label>
                        </div>
                    </header>
    
                    <footer>
                        <button class="contact-form-submit g-blue-btn" type="submit">Отправить заявку</button>
                        <div class="contact-form__wrapper-form-policy">
                            <input type="checkbox">
                            <svg><use xlink:href="./assets/images/svg/sprite.svg#policyIcon"></use></svg>
                            <label>
                                <p>
                                    Я ознакомлен с <a href="./policy.html">Политикой конфиденциальности</a>
                                    и согласен на обработку персональных данных
                                </p>
                            </label>
                        </div>
                    </footer>
                </form>
            </div>
        </section>
    </div>
</div>