<section class="scopes">
    <div class="scopes__container container__1440px">
        <div class="scopes__info">
            <h2 class="g-title-line">Производим аэрозольную продукцию для разных сфер</h2>
            <ul>
                <!-- ITEM -->
                <li>
                    <svg><use xlink:href="./assets/images/svg/sprite.svg#scope1"></use></svg>
                    <span>Химические производства</span>
                </li>
                <!-- ITEM -->
                <li>
                    <svg><use xlink:href="./assets/images/svg/sprite.svg#scope2"></use></svg>
                    <span>Автомобильная косметика</span>
                </li>
                <!-- ITEM -->
                <li>
                    <svg><use xlink:href="./assets/images/svg/sprite.svg#scope3"></use></svg>
                    <span>Автомойки</span>
                </li>
                <!-- ITEM -->
                <li>
                    <svg><use xlink:href="./assets/images/svg/sprite.svg#scope4"></use></svg>
                    <span>Косметика по уходу за одеждой</span>
                </li>
                <!-- ITEM -->
                <li>
                    <svg><use xlink:href="./assets/images/svg/sprite.svg#scope5"></use></svg>
                    <span>Пищевая продукция</span>
                </li>
                <!-- ITEM -->
                <li>
                    <svg><use xlink:href="./assets/images/svg/sprite.svg#scope6"></use></svg>
                    <span>Косметика по уходу за обувью</span>
                </li>
                <!-- ITEM -->
                <li>
                    <svg><use xlink:href="./assets/images/svg/sprite.svg#scope7"></use></svg>
                    <span>Лаки и краски</span>
                </li>
                <!-- ITEM -->
                <li>
                    <svg><use xlink:href="./assets/images/svg/sprite.svg#scope8"></use></svg>
                    <span>Строительные материалы</span>
                </li>
                <!-- ITEM -->
                <li>
                    <svg><use xlink:href="./assets/images/svg/sprite.svg#scope9"></use></svg>
                    <span>Косметические средства</span>
                </li>
                <!-- ITEM -->
                <li>
                    <svg><use xlink:href="./assets/images/svg/sprite.svg#scope10"></use></svg>
                    <span>И многих других</span>
                </li>
            </ul>
        </div>
        <ul class="scopes__table">
            <!-- ITEM -->
            <a><img class="lozad lozad--disabled" data-src="./assets/images/scopes-table-1.png" data-srcset="./assets/images/scopes-table-1@2x.png" alt=""></a>
            <!-- ITEM -->
            <a><img class="lozad lozad--disabled" data-src="./assets/images/scopes-table-1.png" data-srcset="./assets/images/scopes-table-1@2x.png" alt=""></a>
            <!-- ITEM -->
            <a><img class="lozad lozad--disabled" data-src="./assets/images/scopes-table-1.png" data-srcset="./assets/images/scopes-table-1@2x.png" alt=""></a>
            <!-- ITEM -->
            <a><img class="lozad lozad--disabled" data-src="./assets/images/scopes-table-1.png" data-srcset="./assets/images/scopes-table-1@2x.png" alt=""></a>
            <!-- ITEM -->
            <a><img class="lozad lozad--disabled" data-src="./assets/images/scopes-table-1.png" data-srcset="./assets/images/scopes-table-1@2x.png" alt=""></a>
            <!-- ITEM -->
            <a><img class="lozad lozad--disabled" data-src="./assets/images/scopes-table-1.png" data-srcset="./assets/images/scopes-table-1@2x.png" alt=""></a>
            <!-- ITEM -->
            <a><img class="lozad lozad--disabled" data-src="./assets/images/scopes-table-1.png" data-srcset="./assets/images/scopes-table-1@2x.png" alt=""></a>
            <!-- ITEM -->
            <a><img class="lozad lozad--disabled" data-src="./assets/images/scopes-table-1.png" data-srcset="./assets/images/scopes-table-1@2x.png" alt=""></a>
            <!-- ITEM -->
            <a><img class="lozad lozad--disabled" data-src="./assets/images/scopes-table-1.png" data-srcset="./assets/images/scopes-table-1@2x.png" alt=""></a>
        </ul>
    </div>
</section>