.arrows {
    display: flex;

    &-item {
        background-color: $unblue;
        height: fit-content;
        margin-left: auto;

        width: 4em;
        height: 3em;

        display: flex;
        align-items: center;
        justify-content: center;

        transition: .4s;

        svg {
            width: 1.55em;
            height: 0.8em;

            transition: .4s;
        }
        
        @media (max-width: 575px) {
            width: 60px;
            height: 40px;

            svg {
                width: 25px;
                height: 13px;
            }
        }
        
        @media (max-width: 400px) {
            width: 50px;
            height: 30px;

            svg {
                width: 22px;
                height: 10px;
            }
        }

        &--next { transform: rotate(180deg); margin-left: -1px; }
        &:hover { background-color: #3A71D1 }
    }
    
    .swiper-button-disabled {
        cursor: default;
        background-color: lighten(#5C8EE5,  9%);
        svg { fill: #EBEBF0 }
        &:hover { background-color: lighten(#5C8EE5,  9%) }
    }

    &--transparent {
        border-top: 1px solid rgba(235, 235, 240, 0.2);

        .arrows-item {
            width: 100%;
            background-color: transparent;

            &--next { border-right: 1px solid rgba(235, 235, 240, 0.2) }
            &:hover { background-color: $unblue }

            @media (max-width: 400px) { height: 44px }
        }

        .swiper-button-disabled {
            cursor: default;
            &:hover { background-color: transparent }
        }
    }

    &--long {
        border-bottom: 1px solid $brightGrey;

        .arrows-item {
            width: 100%;
            background-color: transparent;

            svg { stroke: #292D33 }
            &--next { border-right: 1px solid $brightGrey }
            &:hover { 
                background-color: $unblue;
                svg { stroke: white }
            }

            @media (max-width: 400px) { height: 44px }
        }

        .swiper-button-disabled {
            cursor: default;
            &:hover {
                background-color: transparent;
                svg { stroke: #292D33 }
            }
        }
    }
}