.arrows {
    display: flex;

    &-item {
        background-color: $unblue;
        height: fit-content;
        margin-left: auto;

        width: 4em;
        height: 3em;

        display: flex;
        align-items: center;
        justify-content: center;

        transition: .4s;

        svg {
            width: 36px;
            height: 24px;

            transition: .4s;
            fill: white;
        }
        
        @media (max-width: 575px) {
            width: 60px;
            height: 40px;
        }

        &--next { transform: rotate(180deg); margin-left: -1px }
        &:not(.swiper-button-disabled) {
            &:hover { background-color: #3A71D1 }
        }
    }
    
    .swiper-button-disabled {
        cursor: default;
        background-color: lighten(#5C8EE5,  9%);
        svg { fill: #EBEBF0 }
        &:hover { background-color: lighten(#5C8EE5,  9%) }
    }

    &--transparent {
        border-top: 1px solid rgba(235, 235, 240, 0.2);

        .arrows-item {
            width: 100%;
            background-color: transparent;

            &--next { border-right: 1px solid rgba(235, 235, 240, 0.2) }
            &:hover { background-color: $unblue }

            @media (max-width: 400px) { height: 44px }
        }

        .swiper-button-disabled {
            cursor: default;
            &:hover { background-color: transparent }
        }
    }

    &--long {
        border-bottom: 1px solid $brightGrey;

        .arrows-item {
            width: 100%;
            background-color: transparent;

            svg { stroke: #292D33 }
            &--next { border-right: 1px solid $brightGrey }
            &:hover { 
                background-color: $unblue;
                svg { stroke: white }
            }

            @media (max-width: 575px) {
                svg {
                    width: 30px;
                    height: 15px;
                }
            }

            @media (max-width: 400px) { height: 44px }
        }

        .swiper-button-disabled {
            cursor: default;
            &:hover {
                background-color: transparent;
                svg { stroke: #292D33 }
            }
        }
    }

    &--small {
        .arrows-item {
            background-color: transparent;
            padding: 0;
            
            width: 36px;
            height: 24px;

            margin: 0 5px;

            &:first-child { margin: 0 5px 0 0 }
            &:last-child { margin: 0 0 0 5px }

            svg { fill: $salute }
            
            &:not(.swiper-button-disabled) {
                &:hover {
                    background-color: transparent;
                    svg { fill: $unblue }
                }
            }
        }

        .swiper-button-disabled {
            cursor: default;
            svg { fill: #EBEBF0 }

            &:hover { background-color: transparent }
        }
    }
}