.article {
    margin: 0 0 7.5em;

    @media (max-width: 768px) { margin: 0 0 5em }

    &__container {
        display: flex;
        justify-content: space-between;

        @media (max-width: 992px) {
            flex-direction: column-reverse;
            justify-content: center;
        }
    }

    &__socials {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        @media (max-width: 992px) {
            margin-top: 50px;
            margin-bottom: 0;
        }

        span {
            color: $riverGrey;
            font-size: 16px;
            font-weight: 600;
            line-height: 160%;

            margin-bottom: 20px;
        }

        ul {
            display: flex;

            a {
                width: 50px;
                height: 50px;

                transition: .4s;
                border: 1px solid $brightGrey;
                box-sizing: border-box;

                display: flex;
                align-items: center;
                justify-content: center;

                &:not(:last-child) { margin-right: 10px }

                svg {
                    width: 24px;
                    height: 24px;

                    fill: $unblue;
                } 

                &:hover { border-color: #3A71D1 }
            }
        }
    }

    article {
        max-width: 960px;
        margin-left: 50px;

        @media (max-width: 992px) {
            max-width: none;
            margin-left: 0;
        }

        h3 {
            font-size: 36px;
            line-height: 140%;

            margin-bottom: 20px;

            @media (max-width: 575px) {
                margin-bottom: 10px;
                font-size: 28px;
            }
        }

        h4 {
            font-size: 28px;
            margin-bottom: 20px;
            line-height: 130%;

            @media (max-width: 575px) {
                margin-bottom: 10px;
                font-size: 20px;
            }
        }

        h5 {
            font-size: 20px;
            margin-bottom: 20px;
            line-height: 130%;

            @media (max-width: 575px) { font-size: 18px }
        }
        
        a {
            color: $unblue;
            text-decoration: underline;
            transition: .4s;

            &:hover { color: #3A71D1 }
        }

        p {
            font-size: 16px;
            line-height: 160%;
            
            margin-bottom: 20px;
            b { font-weight: 600 }

            @media (max-width: 575px) { font-size: 14px }
        }

        dt {
            border: 1px solid #EBEBF0;
            border-bottom: none;
            border-right: none;
            display: grid;

            display: grid;
            grid-template-columns: repeat(3, auto);
            grid-auto-rows: auto;

            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;

            @media (max-width: 1100px) { grid-template-columns: repeat(2, auto) }
            @media (max-width: 600px) { grid-template-columns: repeat(1, auto) }

            li {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto 1fr auto;
                grid-gap: 1px;

                background-color: #EBEBF0;
                padding: 0 1px 1px 0;
                
                header {
                    padding: 30px 0;
                    
                    text-align: center;
                    background-color: #F0F2F5;
                    font-weight: 600;
                }
                
                div {
                    padding: 30px;
                    background-color: #FAFBFC;
                }
            }
        }

        strong {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;

            padding: 30px 40px;
            background: #F0F2F5;

            b { font-weight: 600 }

            @media (max-width: 575px) {
                font-size: 14px;
                padding: 20px 30px;
            }
        }

        u {
            text-decoration: none;
            font-weight: 400;
            font-size: 16px;
            font-style: italic;
            line-height: 160%;

            border-left: 2px solid $unblue;
            padding-left: 30px;
            
            @media (max-width: 575px) {
                font-size: 14px;
                padding-left: 20px;
            }
        }

        img {
            width: 100%;
            height: auto;
            padding-top: 10px;
        }

        main {
            display: flex;
            flex-direction: column;

            margin-bottom: 50px;
            & > *:last-child { margin-bottom: 0 }
            &:last-child { margin-bottom: 0 }

            @media (max-width: 575px) { margin-bottom: 30px }
        }

        ul {
            display: flex;
            flex-direction: column;

            li {
                position: relative;
                display: flex;

                span {
                    line-height: 160%;
                    font-size: 16px;

                    @media (max-width: 575px) { font-size: 14px }
                }

                &::before {
                    content: "";
                    display: block;

                    background-color: $unblue;
                    width: 100%;
                    max-width: 15px;
                    height: 2px;

                    margin-right: 15px;
                    transform: translateY(550%);

                    @media (max-width: 575px) { margin-bottom: 17px; max-width: 14px }
                }

                &:not(:last-child) { margin-bottom: 10px }
            }
        }

        ol {
            display: flex;
            flex-direction: column;

            li {
                display: flex;
                font-size: 16px;
                line-height: 160%;

                @media (max-width: 575px) { font-size: 14px }

                em {
                    color: $unblue;
                    font-weight: 600;
                    margin-right: 10px;
                }

                &:not(:last-child) { margin-bottom: 10px }
            }
        }

        dl {
            display: flex;
            flex-direction: column;
            list-style: none;

            li {
                display: flex;
                font-size: 16px;
                line-height: 160%;
    
                @media (max-width: 575px) { font-size: 14px }

                em {
                    margin: 10px 24px 10px 0;

                    max-width: 5px;
                    width: 100%;
                    height: 6px;

                    display: block;
                    background-color: $unblue;
                    border-radius: 100%;
                }

                i {
                    margin-right: 14px;

                    svg {
                        width: 15px;
                        height: 11px;
                    }
                }

                &:not(:last-child) { margin-bottom: 10px }
            }
        }
    }
}