.breadcrumbs {
    margin-top: 1em;

    display: flex;
    flex-wrap: wrap;

    a {
        font-size: 0.7em;
        line-height: 120%;

        display: flex;
        align-items: center;

        color: $riverGrey;
        cursor: pointer;

        &:hover { text-decoration: underline }

        &::after {
            content: "";
            display: block;

            width: 13px;
            height: 1px;
            
            background-color: $riverGrey;
            margin: 0 10px;
        }
    }

    span {
        font-size: 0.7em;

        display: flex;
        align-items: center;
        line-height: 120%;
        
        @media (max-width: 575px) { height: auto }
    }
}