.breadcrumbs {
    margin-top: 1em;

    display: flex;
    flex-wrap: wrap;

    a, span {
        @media (max-width: 575px) {
            height: 20px;
            font-size: 12px;
        }
    }

    a {
        font-size: 0.7em;

        display: flex;
        align-items: center;
        white-space: nowrap;

        color: $riverGrey;
        cursor: pointer;

        &:hover { text-decoration: underline }

        &::after {
            content: "";
            display: block;

            width: 13px;
            height: 1px;
            
            background-color: $riverGrey;
            margin: 0 10px;
        }
    }

    span {
        font-size: 0.7em;

        display: flex;
        align-items: center;
        white-space: nowrap;
    }
}