.breadcrumbs {
    margin-top: 1em;
    display: flex;

    @media (max-width: 575px) {
        flex-direction: column;
    }

    a {
        font-size: 0.7em;

        display: flex;
        align-items: center;
        white-space: nowrap;

        @media (max-width: 575px) {
            height: 20px;
        }

        &:not(:last-child) {
            color: $riverGrey;
            cursor: default;

            &::after {
                content: "";
                display: block;

                width: 13px;
                height: 1px;
                
                background-color: $riverGrey;
                margin: 0 10px;
            }
        }
    }
}