.contact-form {
    background-color: #F0F2F5;
    display: flex;
    
    position: relative;
    max-width: 1920px;

    margin-left: auto;
    margin-right: auto;

    width: 100%;
    height: 552px;

    @media (max-width: 768px) {
        height: fit-content;
        padding: 3em 0;
    }

    @media (max-width: 575px) { padding: 2.5em 0 }

    &__container {
        display: flex;
        width: 100%;
        height: 100%;

        align-items: center;
        @media (max-width: 1300px) { padding: 0 }
    }

    &__img {
        display: flex;
        height: 626px;

        position: absolute;
        left: 0;
        bottom: 0;

        @media (max-width: 1500px) { left: -10% }
        @media (max-width: 1400px) { left: -15% }
        @media (max-width: 1300px) { display: none }
    }

    &__wrapper {
        max-width: 720px;
        height: fit-content;
        margin-left: auto;

        @media (max-width: 1300px) {
            max-width: none;
            margin: 0 auto;
            width: 100%;

            max-width: 700px;
        }

        @media (max-width: 1300px) {
            max-width: 800px;
            width: calc(100% - 60px);
        }

        @media (max-width: 575px) { width: calc(100% - 30px) }
        
        h2 { margin-bottom: 20px }

        p {
            font-size: 0.8em;
            margin-bottom: 2.625em;
            color: $riverGrey;

            line-height: 160%;
            max-width: 40em;

            @media (max-width: 1300px) { max-width: none }
            @media (max-width: 575px) { margin-bottom: 1.5em; font-size: 0.7em }
            
        }

        header {
            display: flex;
            margin-bottom: 1.5em;

            .g-input  {
                &:not(:last-child) { margin-right: 1.5em }
            }

            @media (max-width: 768px) {
                flex-direction: column;

                .g-input {
                    width: 100%;
                    &:not(:last-child) { margin-right: 0; margin-bottom: 1em }
                }
            }

            @media (max-width: 575px) { margin-bottom: 1em }
        }

        footer {
            display: flex;
            align-items: center;
            justify-content: center;
            
            width: 100%;
            height: 100%; 
            
            @media (max-width: 575px) {
                flex-direction: column;
            }

            button {
                font-size: 0.7em;
                padding: 20px 50px;
                margin-right: 30px;

                width: fit-content;
                white-space: nowrap;
                            
                @media (max-width: 575px) {
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 1.5em;
                }
            }
        }
    }

    &--modal {
        height: auto;
        background-color: white;

        @media (max-width: 768px) { padding: 0 }

        .g-input {
            width: 100%;
            input:focus + label { background-color: white }

            &.input--filled label { background-color: white }
            &:not(:last-child) { margin-bottom: 30px }
            input { width: calc(100% - 60px) }

            @media (max-width: 500px) { &:not(:last-child) { margin-bottom: 20px } }
        }

        footer {
            margin-top: 30px;
            @media (max-width: 500px) { margin-top: 20px }
        }

        .contact-form-submit {
            width: 100%;
            padding: 20px 0;
            font-size: 14px;

            margin-bottom: 24px;

            @media (max-width: 500px) { margin-bottom: 18px }
        }
    }
}

.contact-form__wrapper-form-policy {
    display: flex;
 
    width: 100%;
    height: fit-content;
    box-sizing: initial;

    input[type=checkbox] { display: none }

    svg {
        width: 100%;
        max-width: 14px;
        height: 14px;

        fill: $riverGrey;
        transition: .4s;
        margin-right: 10px;
        margin-top: 2px;
    }

    label {
        display: flex;
        line-height: 1;
        height: fit-content;

        p { 
            font-size: 0.7em;
            line-height: 140%;

            user-select: none;
            cursor: pointer;
            max-width: 375px;
            
            margin-bottom: 0;
            transition: .4s;

            a {
                text-decoration: underline;
                transition: .4s;

                &:hover {
                    color: $unblue;
                    text-shadow: 0px 0px 2px rgba(92, 142, 230, 0.50);
                }
            }
        }

        @media (max-width: 768px) {
            p { font-size: 0.6em }
        }
    }

    &.policy-error {
        label {
            p { color: #E81B1B }
        }
        svg { fill: #E81B1B }
    }

    input[type=checkbox]:checked ~ label p { color: $unblue; }
    input[type=checkbox]:checked + svg {
        fill: $unblue;
        filter: drop-shadow(0px 0px 4px rgba(92, 142, 229, 0.75));
    }
}