.contact-form {
    background-color: #F0F2F5;
    display: flex;
    
    position: relative;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    height: 552px;

    &__container {
        display: flex;
        width: 100%;
        height: 100%;

        align-items: center;
    }

    &__img {
        display: flex;
        height: 626px;

        position: absolute;
        left: 0;
        bottom: 0;
    }

    &__wrapper {
        max-width: 720px;
        height: fit-content;
        margin-left: auto;

        h1 {
            margin-bottom: 20px;
        }

        p {
            font-size: 0.8em;
            margin-bottom: 2.625em;
            color: $riverGrey;

            line-height: 160%;
            max-width: 40em;
        }

        header {
            display: flex;
            margin-bottom: 1.5em;

            .g-input  {
                &:not(:last-child) { margin-right: 1.5em }
            }
        }

        footer {
            display: flex;
            align-items: center;
            justify-content: center;
            
            width: 100%;
            height: 100%; 

            button {
                font-size: 0.7em;
                padding: 20px 50px;
                margin-right: 30px;

                width: fit-content;
                white-space: nowrap;
            }

            .contact-form__wrapper-form-policy {
                display: flex;
             
                width: 100%;
                height: fit-content;
                
                box-sizing: initial;
        
                input[type=checkbox] { display: none }
        
                svg {
                    width: 14px;
                    height: 14px;

                    fill: $riverGrey;
                    transition: .4s;
                    margin-right: 10px;
                    margin-top: 2px;
                }

                label {
                    display: flex;
                    line-height: 1;
                    height: fit-content;

                    p { 
                        font-size: 0.7em;
                        line-height: 140%;
        
                        user-select: none;
                        cursor: pointer;
                        max-width: 375px;
                        
                        margin-bottom: 0;
                        transition: .4s;
        
                        a {
                            text-decoration: underline;
                            transition: .4s;
        
                            &:hover { color: $unblue }
                        }
                    }
                }

                &.policy-error {
                    label {
                        p { color: #ff1500 }
                    }
                    svg { fill: #ff1500 }
                }

                input[type=checkbox]:checked ~ label p { color: $unblue; }
                input[type=checkbox]:checked + svg {
                    fill: $unblue;
                    filter: drop-shadow(0px 0px 4px rgba(92, 142, 229, 0.75));
                }
            }
        }
    }
}