.specialization {
    margin: 0 0 7.5em 0;

    @media (max-width: 575px) { margin: 0 0 5em 0 }

    &__container {
        display: flex;
        align-items: center;

        @media (max-width: 992px) { flex-direction: column }

        img {
            max-width: 480px;
            width: 100%;
            height: auto;

            @media (max-width: 1300px) { max-width: 380px }
            @media (max-width: 992px) {
                max-width: none;
                width: 80%;
                margin-bottom: 3em
            }
            @media (max-width: 400px) { 
                width: 100%;
                @supports (-webkit-touch-callout: none) { height: calc(100vw - 30px) }
            }
        }

        main {
            margin-left: 6em;

            @media (max-width: 1300px) { margin-left: 3em }
            @media (max-width: 992px) { margin-left: 0 }

            h2 {
                max-width: 600px;
                margin-bottom: 20px;

                @media (max-width: 575px) { max-width: 400px }
            }

            p {
                color: $riverGrey;
                font-size: 0.8em;
                line-height: 160%;

                @media (max-width: 575px) { font-size: 0.7em }
            }
        }
    }

    .benefits {
        padding-top: 5em;
        @media (max-width: 768px) { padding-top: 2.5em }
    }

    &--autochemichals {
        .specialization__container {
            img {
                max-width: 600px;
                height: auto;

                @media (max-width: 1300px) { display: none }
                @media (max-width: 768px) {
                    display: flex;
                    max-width: none;
                }
                @media (max-width: 575px) { margin-bottom: 30px }
            }

            @media (max-width: 1440px) {
                main { margin-left: 3em }
            }

            
            @media (max-width: 1300px) {
                main { margin-left: 0 }
            }
        }
    }
}