.the-title {
    background-color: #F0F2F5;
    padding: 2.5em 0;

    margin-bottom: 5em;
    @media (max-width: 768px) { margin-bottom: 2.5em }

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        display: flex;
        flex-direction: column;
        
        h1 {
            font-size: 4em;
            @media (max-width: 768px) { font-size: 48px }
        }
    }

    &__img {
        max-width: 480px;
        height: fit-content;
        margin-top: auto;

        display: flex;
        
        img {
            width: 100%;
            height: auto;
        }

        @media (max-width: 992px) { display: none }
    }

    &--img {
        padding: 0;
        .the-title__info {
            padding: 2.5em 0;
        }
    }
}