
<footer class="footer">

    <div class="footer__contacts">
        <div class="container__1440px">
            <div class="footer__contacts-logo"><img src="./assets/images/svg/logo-black.svg" alt="dark-logo"></div>
            <a class="footer__contacts-phone" href="tel:+74996861014" >+7 (499) 686-10-14</a>
            <div class="footer__contacts-addresses">
                <a href="#">
                    <svg><use xlink:href="./assets/images/svg/sprite.svg#locationIcon"></use></svg>
                    <span>г. Москва, Холодильный пер. 4к1с8</span>
                </a>
                <a href="#">
                    <svg><use xlink:href="./assets/images/svg/sprite.svg#messageIcon"></use></svg>
                    <span>a.dragunov@tdaliance.ru</span>
                </a>
            </div>
            <div class="footer__contacts-social">
                <a href="#"><svg><use xlink:href="./assets/images/svg/sprite.svg#vkIcon"></use></svg></a>
                <a href="#"><svg><use xlink:href="./assets/images/svg/sprite.svg#skypeIcon"></use></svg></a>
                <a href="#"><svg><use xlink:href="./assets/images/svg/sprite.svg#whatsUpIcon"></use></svg></a>
                <a href="#"><svg><use xlink:href="./assets/images/svg/sprite.svg#telegramIcon"></use></svg></a>
            </div>
        </div>
    </div>

    <nav class="footer__nav">
        <div class="container__1440px">
            <ul>
                <a class="active" href="#">Контрактное производство</a>
                <a href="#">Пищевые аэрозоли</a>
                <a href="#">Бытовая химия</a>
                <a href="#">Дезинфицирующие средства</a>
            </ul>
            <ul>
                <a href="#">Пищевые аэрозоли</a>
                <a href="#">Косметическая продукция</a>
                <a href="#">Краски аэрозольные</a>
            </ul>
            <ul>
                <a class="active" href="#">Собственные марки</a>
                <a href="#">Автохимия AG-Tech</a>
                <a href="#">Автохимия AP</a>
            </ul>
            <ul>
                <a class="active" href="#">О компании</a>
                <a class="active" href="./blog.html">Новости</a>
                <a class="active" href="#">Контакты</a>
            </ul>
        </div>
    </nav>

    <div class="footer__copyright">
        <div class="container__1440px">
            <p>© 2022 «Aliance Production». Все права защищены.</p>
            <a href="./policy.html" class="footer__copyright-policy">Политики конфиденциальности</a>
            <a href="https://rusodot.ru/" class="footer__copyright-ruso">
                <span>Сделано в</span>
                <svg><use xlink:href="./assets/images/svg/sprite.svg#rusoLogo"></use></svg>
            </a>
        </div>
    </div>

</footer>