<header class="header">
    <div class="header__container">
        <nav class="header__nav">
            <button class="btn-reset burger" aria-label="Бургер меню">
                <span></span>
                <svg></svg>
            </button>
            <a href="./index.html" class="header__nav-logo header__nav-logo--dark"><img src="./assets/images/svg/logo-black.svg" alt="logo-black"></a>
            <ul>
                <li><main><a href="./about.html">О компании</a></main></li>
                <li>
                    <main>
                        <a href="./contract-product.html">Контрактное производство</a>
                        <svg class="link__arrow"><use xlink:href="./assets/images/svg/sprite.svg#arrow"></use></svg>
                    </main>
                    <div class="header__drop-down">
                        <a href="./auto-chemichal.html">Автомобильная химия</a>
                        <a href="#">Бытовая химия</a>
                        <a href="#">Дезинфицирующие средства</a>
                        <a href="#">Пищевые аэрозоли</a>
                        <a href="#">Косметическая продукция</a>
                        <a href="#">Краски аэрозольные</a>
                    </div>
                </li>
                <li>
                    <main>
                        <a>Собственные торговые марки</a>
                        <svg class="link__arrow"><use xlink:href="./assets/images/svg/sprite.svg#arrow"></use></svg>
                    </main>
                    <div class="header__drop-down">
                        <a href="./ag-tech.html">Автохимия AG-Tech</a>
                        <a href="#">Автохимия AP</a>
                    </div>
                </li>
                <li><main><a href="#">Новости</a></main></li>
                <li><main><a href="#">Контакты</a></main></li>
            </ul>
            <div class="header__nav-contacts">
                <a href="tel:74996861014" class="header__nav-contacts-phone">
                    <svg><use xlink:href="./assets/images/svg/sprite.svg#phoneIcon"></use></svg>
                    <span>+7 (499) 686-10-14</span>
                </a>
                <a href="#" class="header__nav-contacts-consultation g-blue-btn open-modal-form">Получить консультацию</a>
            </div>
        </nav>
        <aside class="menu">
            <div class="menu__container">
                <ul><a class="active" href="./about.html">О компании</a></ul>
                <ul>
                    <a class="active" href="./contract-product.html">Контрактное производство</a>
                    <a href="#">Пищевые аэрозоли</a>
                    <a href="#">Бытовая химия</a>
                    <a href="#">Дезинфицирующие средства</a>
                    <a href="#">Пищевые аэрозоли</a>
                    <a href="#">Косметическая продукция</a>
                    <a href="#">Краски аэрозольные</a>
                </ul>
                <ul>
                    <a class="active" href="#">Собственные марки</a>
                    <a href="#">Автохимия AG-Tech</a>
                    <a href="#">Автохимия AP</a>
                </ul>
                <ul><a class="active" href="#">Новости</a></ul>
                <ul><a class="active" href="#">Контакты</a></ul>
                <div class="menu__contacts">
                    <a class="menu__contacts-phone" href="tel:+74996861014">+7 (499) 686-10-14</a>
                    <div class="menu__contacts-address">
                        <a href="#">
                            <svg><use xlink:href="./assets/images/svg/sprite.svg#locationIcon"></use></svg>
                            <span>г. Москва, Холодильный пер. 4к1с8</span>
                        </a>
                        <a href="#">
                            <svg><use xlink:href="./assets/images/svg/sprite.svg#messageIcon"></use></svg>
                            <span>a.dragunov@tdaliance.ru</span>
                        </a>
                    </div>
                    <div class="menu__contacts-icons">
                        <a href="#"><svg><use xlink:href="./assets/images/svg/sprite.svg#vkIcon"></use></svg></a>
                        <a href="#"><svg><use xlink:href="./assets/images/svg/sprite.svg#instagramIcon"></use></svg></a>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</header>