<header class="header header--light">
    <div class="header__container">
        <nav class="header__nav">
            <a href="./index.html" class="header__nav-logo header__nav-logo--light"><img src="./assets/images/svg/logo-light.svg" alt="logo-light"></a>
            <ul>
                <li><main><a href="#">О компании</a></main></li>
                <li>
                    <main>
                        <a>Контрактное производство</a>
                        <svg class="link__arrow"><use xlink:href="./assets/images/svg/sprite.svg#arrow"></use></svg>
                    </main>
                    <div class="header__drop-down">
                        <a href="#">Автомобильная химия</a>
                        <a href="#">Бытовая химия</a>
                        <a href="#">Дезинфицирующие средства</a>
                        <a href="#">Пищевые аэрозоли</a>
                        <a href="#">Косметическая продукция</a>
                        <a href="#">Краски аэрозольные</a>
                    </div>
                </li>
                <li>
                    <main>
                        <a>Собственные торговые марки</a>
                        <svg class="link__arrow"><use xlink:href="./assets/images/svg/sprite.svg#arrow"></use></svg>
                    </main>
                    <div class="header__drop-down">
                        <a href="#">Автомобильная химия</a>
                        <a href="#">Бытовая химия</a>
                        <a href="#">Дезинфицирующие средства</a>
                        <a href="#">Пищевые аэрозоли</a>
                        <a href="#">Косметическая продукция</a>
                        <a href="#">Краски аэрозольные</a>
                    </div>
                </li>
                <li><main><a href="#">Новости</a></main></li>
                <li><main><a href="#">Контакты</a></main></li>
            </ul>
            <div class="header__nav-contacts">
                <a href="tel:74996861014" class="header__nav-contacts-phone">
                    <svg><use xlink:href="./assets/images/svg/sprite.svg#phoneIcon"></use></svg>
                    <span>+7 (499) 686-10-14</span>
                </a>
                <a href="#" class="header__nav-contacts-consultation g-blue-btn">Получить консультацию</a>
            </div>
        </nav>
    </div>
</header>