.header {
    display: flex;
    flex-direction: column;

    width: 100%;
    z-index: 50;

    &__nav {
        height: 4.7em;
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;

        display: flex;
        align-items: center;

        @media (max-width: 500px) { height: 3.4em }

        &-logo {
            width: 7em;
            height: 2.2em;

            padding: 0 2.5em;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;

            border-left: 1px solid rgba(235, 235, 240, 0.2);

            img {
                width: 7em;
                height: auto;
            }

            @media (max-width: 1785px) { padding: 0 2em }
            @media (max-width: 500px) {
                padding: 0;
                width: 100%;

                img {
                    width: 6em;
                    height: auto;
                }
            }
        }

        &-contacts {
            display: flex;
            align-items: center;

            height: 100%;

            @media (max-width: 1300px) { margin-left: auto }

            &-phone {
                display: flex;
                align-items: center;

                margin-right: 2.5em;

                svg {
                    fill: $unblue;
                    margin-right: 0.7em;

                    width: 0.8em;
                    height: 0.8em;
                }

                span {
                    font-weight: 500;
                    font-size: 0.8em;

                    white-space: nowrap;
                }

                @media (max-width: 1785px) {
                    background-color: $unblue;
                    margin-right: 0;

                    width: 90px;
                    height: 100%;
                    
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    transition: .4s;
                    margin-left: auto;

                    span { display: none }
                    svg { fill: white; margin-right: 0; }

                    &:hover {
                        background-color: #3A71D1;
                    }
                }

                @media (max-width: 500px) {
                    width: 80px;
                }
            }

            &-consultation {
                width: 16.778em;
                height: 100%;

                white-space: nowrap;
                font-size: 0.8em;
                font-weight: 500;
                
                @media (max-width: 1785px) { display: none }
            }

        }

        ul {
            display: flex;
            align-items: center;
            margin-right: auto;

            width: 100%;
            padding: 0 2.5em;

            border-left: 1px solid $brightGrey;

            height: 100%;
            font-size: 0.8em;

            @media (max-width: 1300px) { display: none }

            li {
                height: 100%;
                text-align: center;
                line-height: 160%;

                cursor: pointer;
                position: relative;

                display: flex;
                align-items: center;
                justify-content: center;

                transition: .4s;

                box-sizing: border-box;
                border-top: 2px solid transparent;
                border-bottom: 2px solid transparent;

                .header__drop-down {
                    padding: 1em 1.5em;
                    background-color: white;
                    color: $salute;

                    width: 300px;
                    transition: .4s;

                    opacity: 0;
                    visibility: hidden;
                    
                    position: absolute;
                    bottom: 0;
                    left: 0;

                    z-index: 60;
                    transform: translateY(calc(100% + 2px));

                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: start;

                    a {
                        text-align: left;
                        line-height: 160%;
                        transition: .4s;

                        &:hover {
                            color: $unblue;
                            text-decoration: underline;
                        }

                        &:not(:last-child) { margin-bottom: 15px }
                    }
                }

                main {
                    display: flex;
                    align-items: center;
                    
                    a {
                        height: 100%;
                        
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        @media (max-width: 1785px) { font-size: 15px }
                    }
                }

                &:hover {
                    border-bottom: 2px solid $unblue;
                    &:hover {
                        main {
                            svg { transform: rotate(180deg) }
                        }

                        .header__drop-down {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }

                &:not(:last-child) { margin-right: 3.125em }
            }
        }
    }

    &--light {
        color: white;
        border-bottom: 1px solid rgba(235, 235, 240, 0.2);

        ul { border-left: 1px solid rgba(235, 235, 240, 0.2) }
    }
}

.link__arrow {
    stroke: white;
    transition: .4s;

    width: 10px;
    height: 6px;

    margin-left: 8px;
}