<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
</head>
<body class="">
    
    {{> header }}

    <div id="page" class="page">
    
        {{> body }}
    
        {{> footer }}

    </div>
    
    {{> modal-thanks }}
    
    {{> modal-form }}
    
    <script>
        const mapOnPageHtml = document.getElementById('map');
        let center = [55.712812, 37.698672];
    
        function init() {
            //eslint-disable-next-line
            let map = new ymaps.Map('map', {
                center: center,
                zoom: 13,
                controls: []
            });
    
            //eslint-disable-next-line
            let placemarkOffice = new ymaps.Placemark([55.708831, 37.628155], {
                balloonContent: 'Адрес офиса: <a href="https://yandex.ru/maps/-/CCUFNPHilD">https://yandex.ru/maps/-/CCUFNPHilD</a>',
            }, {
                iconLayout: "default#image",
                iconImageHref: "./assets/images/svg/map-marker.svg",
                iconImageSize: [60, 68],
            });
            //eslint-disable-next-line
            let placemarkStock = new ymaps.Placemark([55.719693, 37.764636], {
                balloonContent: 'Адрес склада: <a href="https://yandex.ru/maps/-/CCUFNTeVSC">https://yandex.ru/maps/-/CCUFNTeVSC</a>',
            }, {
                iconLayout: "default#image",
                iconImageHref: "./assets/images/svg/map-marker.svg",
                iconImageSize: [60, 68],
            });
    
            map.geoObjects.add(placemarkOffice);
            map.geoObjects.add(placemarkStock);
        }
    
        function addScript( src ) {
            var jsonScript = document.createElement( 'script' );
            jsonScript.setAttribute( 'src', src );
            document.querySelector('head').appendChild(jsonScript);
        }
    
        mapOnPageHtml.addEventListener('click', function() {
            addScript('https://api-maps.yandex.ru/2.1/?apikey=6d392d39-d052-4d77-a01d-f9ed0da99f83&lang=ru_RU');
            setTimeout(function() {
                window.ymaps?.ready(init);
            }, 400);
        }, {once : true});
    </script>

    <script src="https://unpkg.com/imask"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
    <script src="assets/js/app.js"></script>
</body>
</html>